$uni-color-primary: #0f5f7b;
$uni-color-success: #168d64;
$uni-color-warning: #b86814;
$uni-color-error: #c53e3e;
$uni-text-color: #1f2a33;
$uni-text-color-grey: #6a7682;
$uni-bg-color: #fffaf2;
$uni-bg-color-grey: #f5efe4;
$uni-border-color: #e4d8c5;

$u-primary: #1677ff;
$u-success: #18b566;
$u-warning: #ff9f43;
$u-error: #ee0a24;
$u-info: #909399;
$u-main-color: #1f2329;
$u-content-color: #4e5969;
$u-tips-color: #86909c;
$u-light-color: #c0c4cc;
$u-border-color: #ebedf0;
$u-bg-color: #f7f8fa;
$u-disabled-color: #c8c9cc;

@import 'uview-plus/theme.scss';
@import 'uview-plus/index.scss';
